version: '3.3'
services:
  db:
    image: mysql:8.0.19
    command: 'default-authentication-plugin=mysql_native_password'
    volumes:
      - db_data:/var/lib/mysql  # Add a colon here
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=wordpress
      - MYSQL_DATABASE=chintu
      - MYSQL_USER=vivek
      - MYSQL_PASSWORD=sushree123
  wordpress:
    image: wordpress:latest
    ports:
      - 80:80
    restart: always
    environment:
      - WORDPRESS_DB_HOST=db
      - WORDPRESS_DB_USER=vivek
      - WORDPRESS_DB_PASSWORD=sushree123
      - WORDPRESS_DB_NAME=chintu
volumes:
  db_data:
